#encabezado {
    color:darkturquoise;
    background-color: yellowgreen;
  }
.genero{
  color:springgreen;
  font-weight: bold;
  background-color: darkgrey;
}
p strong{
  background-color: darkgrey;
}
.river{
  color: red;
}
.bui{
  color:blue;
}
h3,
.jugadores{
  color: darkgrey;
}
.botonpagina{
  background-color: blueviolet;
  border: none;
  color: aliceblue;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 12px;
  border-radius: 12px;
  font-family: sans-serif;
}