#encabezado {
    color:darkturquoise;
    background-color: yellowgreen;
  }
.genero{
  color:springgreen;
  font-weight: bold;
}
p strong{
  background-color: white;
}
.river{
  color: red;
}
.bui{
  color:blue;
}