#encabezado {
    color:darkturquoise;
    background-color: yellowgreen;
  }
.genero{
  color:springgreen;
  font-weight: bold;
  background-color: darkgrey;
}
p strong{
  background-color: darkgrey;
}
.river{
  color: red;
}
.bui{
  color:blue;
}
h3,
.jugadores{
  color: darkgrey;
}

p b em{
  color:yellow;
  background-color: black;
}